{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<h1>Bienvenue sur notre site</h1>

    <p>Nos produits les plus vendus :</p>
    <div class="row mt-5">
        {% for product in products %}
            <div class="col-lg-3">
                <div class="card m-1" style="width: 18rem;">
                    <img class="card-img-top" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-xr-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=80&amp;op_usm=0.5,0.5&amp;.v=1550795424612" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">{{ product.price / 100 }} €</p>
                        <a href="{{ path('product_show', {'slug': product.slug }) }}" class="btn btn-primary">Voir le
                            produit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if favorite_product %}
        <p>Produit favoris :</p>
        <div class="row mt-5">
            <div class="col-lg-3">
                <div class="card m-1" style="width: 18rem;">
                    <img class="card-img-top" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-xr-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=80&amp;op_usm=0.5,0.5&amp;.v=1550795424612" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ favorite_product.name }}</h5>
                        <p class="card-text">{{ favorite_product.description }}</p>
                        <p class="card-text">{{ favorite_product.price / 100 }} €</p>
                        <a href="{{ path('product_show', {'slug': favorite_product.slug }) }}" class="btn btn-primary">Voir le
                            produit</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

