{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

{#    <ul>#}
{#        {% for product in products %}#}
{#        <li>{{ product.name }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}

    <div class="row mt-5">
        {% for product in products %}
            <div class="col-lg-3">
                <div class="card m-1" style="width: 18rem;">
                    {% if product.image %}
                    <img class="card-img-top" src="{{ asset('uploads/' ~ product.image) }}" alt="{{ product.name }}">
                    <div class="card-body">
                    {% else %}
                    <img class="card-img-top" src="{{ asset('uploads/' ~ 'default.jpg') }}" alt="{{ product.name }}">
                    <div class="card-body">
                    {% endif %}
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">{{ product.price }}</p>
                        <p class="card-text">catégorie: {{ product.category.name }}</p>
                        <p class="card-text">slug: {{ product.slug }}</p>
                        <p class="card-text">Vendeur: <a href="{{ path('user_show', {id: product.user.id}) }}">{{
                                product.user.username
                                }}</a></p>
                        <a href="{{ path('product_show', {'slug': product.slug }) }}" class="btn btn-primary">Voir le
                            produit</a>
                        {% if is_granted('ROLE_ADMIN') or app.user == product.user %}
                        <div>
                            <a href="{{ path('product_modify', {'id': product.id }) }}" class="btn
                            btn-primary">modifier le produit</a>
                        </div>
                        <form action="{{ path('product_delete', {'id': product.id }) }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('delete') }}">
                            <button class="btn btn-primary"> supprimer </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}